<div class="container color-dark">
    <div class="col">
      <p>Add um item a lista de metas</p>
    </div>
    <div class="col">
      <p>Sua lista de metas ({{ itemCount }})</p>
    </div>
  </div>
  <div class="container color-light" [@goals]="goals.length">
    <div class="col">
      <p class="sm">Use este formulário abaixo para adicionar uma nova meta. O que você deseja realizar em sua vida?</p>
      <form>
        <input type="text" class="txt" name="item" placeholder="Objetivo de vida..." [(ngModel)]="goalText">
        <!--<br><span>{{ goalText }}</span>--> <!-- através do ngModel declarado na linha acima, é possível captar variações do valor da variável "goalText" em tempo real, descomentar para ver -->
        <input type="submit" class="btn" (click)="addItem()" [value]="btnText"> <!-- ou value="{{ btnText }}" -->
      </form>
    </div>
    <div class="col">
      <p class="life-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">
        {{ goal }}
      </p>
    </div>
  </div>